<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%5.5level] %d{MM-dd HH:mm:ss:SSS} [%20.20class{0}] [%20.20thread] - %msg%n</pattern>
		</layout>
	</appender>
	
	<appender name="DAILY_ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${APP_LOG}/${APP_PNM}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${APP_LOG}/${APP_PNM}.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory><!-- keep 30 days' worth of history capped at 3GB total size -->
			<maxFileSize>1KB</maxFileSize>
		</rollingPolicy>
	    <encoder>
	      <pattern>[%5.5level] %d{MM-dd HH:mm:ss:SSS} [%20.20class{0}] [%20.20thread] - %msg%n</pattern>
	    </encoder>
	</appender>

	<logger name="MAIN" level="INFO" additivity="true">
		<appender-ref ref="DAILY_ROLLING" />
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT" />	
	</root>

</configuration>